{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "es5",
  "printWidth": 100,
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "proseWrap": "preserve",
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "parser": "markdown",
        "proseWrap": "preserve",
        "printWidth": 1000
      }
    },
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte",
        "plugins": ["prettier-plugin-svelte"]
      }
    }
  ]
}
